In [14]:
import scipy.io
import pandas as pd

df = pd.read_csv('data/NEIC_Chile.txt')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1915 entries, 0 to 1914
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             1915 non-null   object
 1   latitude         1915 non-null   float64
 2   longitude        1915 non-null   float64
 3   depth            1915 non-null   float64
 4   mag              1915 non-null   float64
 5   magType          1915 non-null   object
 6   nst              1913 non-null   float64
 7   gap              1913 non-null   float64
 8   dmin             0 non-null      float64
 9   rms              1553 non-null   float64
 10  net              1915 non-null   object
 11  id               1915 non-null   object
 12  updated          1915 non-null   object
 13  place            1915 non-null   object
 14  type             1915 non-null   object
 15  horizontalError  0 non-null      float64
 16  depthError       475 non-null    float64
 17  magError         1 non-null      float64
 18  magNst           1692 non-null   float64
 19  status           1915 non-null   object
 20  locationSource   1915 non-null   object
 21  magSource        1915 non-null   object
dtypes: float64(12), object(10)
memory usage: 329.3+ KB
None

In [16]:
mat_file = 'data/NEIC_Chile.mat'
data = scipy.io.loadmat(mat_file)

# Проверка структуры данных
print(data.keys())

dict_keys(['__header__', '__version__', '__globals__', 'YR', 'MO', 'DY', 'HR', 'MN', 'SC', 'ID', 'Lat', 'Lon', 'Depth', 'Mag', 'Time'])

In [22]:
df2 = pd.DataFrame(data['ID'])

In [24]:
df2

,0,1,2,3,4,5,6,7,8,9,...,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914
0,1914,1913,1912,1911,1910,1909,1908,1907,1906,1905,...,9,8,7,6,5,4,3,2,1,0